<html>
    <head>
        <meta charset="utf-8">
        <!-- 每隔1秒刷新一次页面 -->
        <meta http-equiv="refresh" content="1">
        <title>Demo</title>
    </head>
    <body>
        <p>IUL: </p> <p>{{dict_view.IUL}}</p>
        <br>
        <p>IDl: </p> <p>{{dict_view.IDL}}</p>
        <br>
        <p>IUR: </p> <p>{{dict_view.IUR}}</p>
        <br>
        <p>IDR: </p> <p>{{dict_view.IDR}}</p>
        <br>
        <p>OUL: </p> <p>{{dict_view.OUL}}</p>
        <br>
        <p>ODL: </p> <p>{{dict_view.ODL}}</p>
        <br>
        <p>OUR: </p> <p>{{dict_view.OUR}}</p>
        <br>
        <p>ODR: </p> <p>{{dict_view.ODR}}</p>
        <br>
    </body>
</html>